.survey-header {
    background: #88BBD6;
}

.header__title:hover{
    text-decoration: none;
    color: white;
}
.header__title:focus{
    color: white;
    text-decoration: none;
}
.header__title{
    color: white;
    display: inline-block;
    padding: 0.2em 0.5em;
    font-size: 2.5rem;
}

.header__user *{
    float: right;
    color: white;
}

.survey-header .row {
    margin-left: 0;
    margin-right: 0;
}

@media screen and (max-width:576px) {
    .survey-header {
      text-align: center;
    }
  }