.viewSurvey {
    padding: 30px 0;
}

.viewSurvey .surveyTable {
    overflow-x:auto;
}

.viewSurvey .viewSurvey__title {
    display: block;
    text-align: center;
    font-size: 1.2em;
}

.viewSurvey button {
    padding: 0.3rem;
}

.viewSurvey table thead tr th, .viewSurvey table tbody tr td {
    border-bottom: 0;
    border-top: 0;
}
.viewSurvey table thead {
    box-shadow: 0px 2px 0px 0px #888888;
}

.viewSurvey table tbody tr td{
    box-shadow: 0px 1px 0px 0px #888888;
}

.table-wrapper {
    position: relative;
    margin-bottom: 20px;
}

.table {
    table-layout: fixed;
    word-wrap: break-word;
    margin-bottom: 0;
}

.show-table {
    opacity: 1;
}

.fixed-column-width-name {
    width: 10em;
}

.fixed-column-width-actions {
    width: 15em;
}

.highlighted {
    font-weight: 600;
}

.fixed-column-width-number {
    width: 5em;
    vertical-align: middle;
}

.fixed-column-width-author {
    width: 7em;
    vertical-align: middle;
}

.fixed-column-width-date {
    width: 8em;
    vertical-align: middle;
}

.searchList {
    padding-top: 15px;
}