<div class="header">
    <h1>Apklausos</h1>
</div>

<div class="loginWrap">
    <form class="form formLogin">
        <label for="email">El. paštas</label>
        <input ng-model="$ctrl.data.email" class="form-control" type="email" id="email" name="email">
        <label for="pass">Slaptažodis</label>
        <input ng-model="$ctrl.data.password" class="form-control" type="password" id="pass" name="pass">
        <a class="formLogin__forgot" ui-sref="reminder">Pamiršau slaptažodį</a>
        <div class="formLogin__buttonWrap">
            <button class="formLogin__login btn" ng-click="$ctrl.logIn()">Prisijungti</button>
            <button class="btn" ui-sref="signup">Užsiregistruoti</button>
        </div>
    </form>
</div>
