<div class="content">
    <div class="container container--fullHeight">
        <header ng-if="$ctrl.$storage.view"></header>
        <div class="row no-margin">
            <div ng-if="$ctrl.$storage.view" class="col-sm-4 col-md-3 side">
                <sidenav></sidenav>
            </div>
            <div class="col-sm-8 col-md-9 load">
                <ui-view></ui-view>
            </div>
        </div>
    </div>
</div>
