.container--fullHeight {
    background-color: #E9E9E9;
    padding: 0;
    padding-bottom: 50px;
    height:100vh;
}

.no-margin {
    margin-left: 0;
    margin-right: 0;
    background-color: #E9E9E9;
}

.load {
    background-color: #E9E9E9;
}

.side{
    background-color: #E9E9E9;

    margin-left: 0;
    padding-left: 0;
}

.col-sm-9{
    margin-left: -15px;
}

.margin {
    margin: 0 15px;
} 

 @media screen and (min-width:576px) {
    .col-sm-8, .col-md-9 {
      margin-left: -30px;
    }
  }

  @media screen and (max-width:576px) {
    .no-margin{
      margin: 0;
    }

    .col-sm-4{
      padding: 0;
    }

    .col-sm-8{
      padding: 0 15px;
    }
  }

.content .container {
    width: 1300px;
}