<div class="header">
    <h1>Apklausos</h1>
    <h3>Priminti slaptažodį<h3>
</div>

<div class="signupWrap">
    <form class="form formSignup">
        <input class="form-control" type="email" name="email" ng-model="$ctrl.email" placeholder="El. paštas">
        <button class="formSignup__signup btn" ng-click="$ctrl.remind()">Tęsti</button>
        <a class="formLogin__forgot" ui-sref="login">Grįžti į prisijungimą</a>
        <div ng-show="$ctrl.done" class="signupMessage">Nurodytu el. paštu Jums buvo išsiųstas priminimas</div>
    </form>
</div>
