.sidenav{
    width: 100%;
    min-height: 100%;
}

.sidenav ul {
    box-shadow: 3px 0 0 rgba(0, 0, 0, 0.03);
    border: 1px;
    border-style: solid;
    border-color: #c8c8c8 #dddede #c8c8c8 #c8c8c8;
    border-top: none;
    list-style: none;
    padding: 0;
}

.sidenav li{
    border-width: 1px;
    background-color: #c8c8c8;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.sidenav a {
    display: block;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.1s ease;
    padding: 0.5em 0.8em;
}

.sidenav a:hover {
    background-color: #99D3DF;
}

.sidenav a:active {
    background-color: #99D3DF;
}