.createSurvey__main {
    margin-top: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 2rem;
}

input[type='checkbox'] {
    transform: scale(1.3);
}

.row--header {
    min-height: 80px;
    padding-bottom: 1rem;
}

.createSurvey__head {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-top: 1rem;
}

.createSurvey__head .flex-end {
    align-self: stretch;
    flex-direction: column;
    justify-content: space-around;
}

.createSurvey__head .col-md-3 label {
    text-align: center;
}

.createSurvey__head .col-md-3 label {
    margin-top: 1rem;
}

.createSurvey__head .col-md-3 label:first-child {
    margin-top: 0;
}

.createSurvey__head .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.createSurvey__head textarea {
    width: 100%;
    margin-top: 1rem;
    max-height: 48px;
}

@media screen and (max-width: 768px){
    .createSurvey__head {
        padding: 1rem 0;
    }

    label {
        font-size: 1.4rem;
    }

    .col-md-2 label {
        font-size: 1.1rem;
    }
}

.createSurvey__questionType {
    margin-top: 1rem;
}

@media screen and (min-width: 768px){
    .createSurvey__answers, .createSurvey__questionType{
        margin-top: 2rem;
    }
}

.createSurvey__question input, label{
    margin: 0;
}

.col-md-2 label{
    -webkit-user-select: none;     
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

@media screen and (max-width: 768px){
    .col-md-auto, .col-md-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .col-md-2 > input {
    margin-right: 0.5rem;
    }
}

.questionType {
    padding: 5px;
}

.createSurvey__head .flex-end {
    align-self: stretch;
    flex-direction: column;
    justify-content: space-around;
}

.submit--flex-end{
    display: flex;
    justify-content: flex-end;
}


@media screen and (min-width: 768px){
    .createSurvey__head .flex-end {
        align-self: stretch;
        flex-direction: column;
        justify-content: space-around;
    }

    .createSurvey__head .col-md-3 label {
        text-align: right;
    }
}

.margin {
    margin: 0.5rem 0;
}

@media screen and (min-width: 768px){
    .margin {
        margin: 0 1rem;
    }
}

.newQ, .delQ{
    margin-top: 30px;
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .questionButtonWrap {
        flex-direction: column;
    }
    .newQ, .delQ{
        width: 100%;
    }
    .delQ{
        margin-top: 1rem;
    }
}

.submit--flex-end{
    display: flex;
    justify-content: flex-end;
}

.createSurvey__submit{
    margin-top: 30px;
}

.shorter {
    width: calc(100% - 45px);
}

.oneMany > span {
    display: block;
    text-align: center;
    font-size: 1.2rem;
}

@media screen and (max-width: 768px){
    .oneMany > span {
        font-size: 1.3rem;
        margin-top: 1rem;
    }

    .addAnswer{
        font-size: 1.1em;
    }
}

.oneMany__answers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.oneMany__answers span {
    display: inline-block;
    padding: 5px 10px;
    background-color: #ef9a9a;
    border-radius: 2px;
}

.oneMany__answers span:hover {
    color: white;
    cursor: pointer;
    background-color: #d32f2f;
}

.addAnswer, .addAnswer:focus{
    display: inline-block;
    color: black;
    text-decoration: none;
    padding-top: 1rem;
}

.addAnswer:hover{
    color: black;
    text-decoration: underline;
}

.integer__title{
    display: block;
    text-align: center;
    font-size: 1.3rem;
}

@media screen and (max-width: 768px){
    .integer__title {
        font-size: 1.4rem;
    }
}

.integer__span {
    display: inline-block;
    width: 48%;
}

.integer > input{
    width: 50%;
    margin-top: 10px;
}

.integer > a{
    color: black;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.flex > input{
    width: 50%;
}