.flex-end{
    display: flex;
    justify-content: flex-end;
  }
  
  .flex-end label{
    margin: 0;
  }

  .flex-end label[for="manageUser"]{
    margin-bottom: 7px;
  }

  .margin {
    margin: 0 1rem;
  }

  .manageUsers__email {
    padding: 30px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

  .manageUsers__email span, .manageUsers__find span {
    display: block;
    text-align: center;
    font-size: 1.2em;
  }

  .manageUsers__email input {
    margin: 10px 0;
  }

  .manageUsers__email button:hover {
    cursor: pointer;
    color: white;
  }

  .email__allow {
    background-color: #c5e1a5;
    margin-right: 8px;
  }

  .email__allow:hover {
    background-color: #689f38;
  }

  .email__deny {
    background-color: #ef9a9a;
  }

  .email__deny:hover {
    background-color: #d32f2f;
  }

  .manageUsers__find{
    padding: 30px 0;
  }

  .manageUsers__find input {
    width: 100%;
    margin-top: 10px;
  }

  .manageUsers__displayUsers {
    display: flex;
    flex-direction: column;
  }

  .user__email{
    width: 35%;
  }

  .admin  {
    width: 155px;
    margin-left: 10px
  }

  .blocked{

    width: 100px;
    margin-left: 10px;
  }

  .user__email{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .user {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 768px){
    .margin {
      margin: 0.5rem 0;
    }

    .allowDisallowWrap{
      display: flex;
      justify-content: center;
    }
    .flex-end {
      justify-content: center;
    }

    .manageUsers__find span, .manageUsers__email span {
      display: none;
    }

    .manageUsers__find label, .manageUsers__email label {
      font-size: 1.3em;
    }

    .user {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      padding-bottom: 1rem;
    }

    .user__email {
      width: 100%;
      justify-content: center;
      margin-bottom: 0.5rem;
      margin-top: 2rem;
      font-size: 1.2em;
    }

    .user__email:first-child {
      margin-top: 1rem;

    }

    .admin  {
      display: flex;
      justify-content: flex-end;
      width: 45%;
      margin-left: 0
    }

    .blocked{
      display: flex;
      justify-content: flex-start;
      width: 45%;
      margin-left: 10px;
    }
  }

  .user button:hover {
    cursor: pointer;
    color: white;
  }

  .user__notAdmin, .user__blocked {
    background-color: #c5e1a5;
  }

  .user__notAdmin:hover, .user__blocked:hover {
    background-color: #689f38;
  }

  .user__admin, .user__notBlocked {
    background-color: #ef9a9a;
  }

  .user__admin:hover, .user__notBlocked:hover {
    background-color: #d32f2f;
  }

  .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
  }

  .alert.info {background-color: #6E6E6E;}